/* *{
    box-sizing: border-box;
} */

img{
    display: none;
}

.pionowo{
    max-width: 44%;
    margin-left: 75px;
    margin-top: 3px;
}

.poziomo{
    width: 84%;
    margin-left: -22px;
    margin-top: 2px;
}

.udemy{
    width: 84%;
    margin-left: -22px;
    margin-top: 2px;
}

.strefaKursow{
    width: 87%;
    margin-left: -29px;
    margin-top: 4px;        
}

.uouw{
    max-width: 44%;
    margin-left: 75px;
    margin-top: 2px;
}

.altkom{
    max-width: 44%;
    margin-left: 75px;
    margin-top: 3px;
}

.visible{
    display: inline-block;
}