body
	{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	}

b 
	{
	color: black;
	}

.rodo
	{
	font-size: 11px;
	}

a.linkkafelka
	{
	color: #ffffff;	
	text-decoration	:none;	
	display: block;
	width: 230px;
	height: 142px;
	}

.nawigacja
	{
	color: white;
	text-decoration: none;
	display: block;
	width: 30px;
	height: 169px;
	background-color: gray;
	opacity: 0.5;
	padding-top: 135px;
	font-size: 30px;
	cursor: pointer;
	}

a.Lewa
	{
	float: left;
	}

a.Prawa	
	{
	position: relative;
	left: 420px;
	top: 0px;
	float: left;
	}
		
a.linksocjala
	{
	color: #ffffff;	
	text-decoration	:none;	
	display: block;
	width: 105px;
	height: 142px;
	}		
		
a.linkhtml5
	{
	color: #ffffff;	
	text-decoration	:none;
	}

#zegar:hover
	{
	cursor: default;
	}
	
a
	{
	color: #ffffff;
	}
	
#kontener
	{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	}
	
.prostokat
	{
	width: 960px;
	margin: 10px;
	}

.kwadrat
	{
	width: 50%;
	float: left;
	}

#logo
	{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 500px;
	padding-top: 20px;
	}

#zdjecie
	{
	float: left;
	width: 150px;
	height: 90px;
	}	
	
#zegar
	{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	padding-top: 20px;
	transform: translate(85px, 0px);
	}

.kafelek
	{
	margin:10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	}
	
.kafelek:hover
	{
	background-color: #2085c2;
	animation: serduszko 1s infinite;
	}

.kafelek1
	{
	margin:10px;
	width: 230px;
	height: 142px;
	background-color: #ff6666;
	float: left;
	text-align: center;
	}
	
.kafelek1:hover
	{
	background-color: #ee5555;
	animation: serduszko 1s infinite;
	}

.kafelek2
	{
	margin:10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	text-align: center;
	}

.kafelek2:hover
	{
	background-color: #555555;
	animation: serduszko 1s infinite;
	}	
	
.kafelek3
	{
	margin:10px;
	width: 230px;
	height: 142px;
	background-color: #93c748;
	float: left;
	text-align: center;
	}

.kafelek3:hover
	{
	background-color: #82b637;
	animation: serduszko 1s infinite;
	}
	
.kafelek4
	{
	margin:10px;
	width: 420px;
	height: 82px;
	background-color: #ee5a32;
	text-align: center;
	padding:30px;
	font-size: 19px;
	line-height: 180%;
	}

.kafelek4:hover
	{
	cursor: default;
	}

#autor
	{
	height: 40px;
	padding-top: 10px;
	max-width: 100vw;
	text-align: right;
	font-size: 12px;
	}	
	
.kafelek5
	{
	margin:10px;
	width: 440px;
	height: 264px;
	background-color: #666666;
	text-align: justify;
	padding: 20px;
font-size: 17px;
	transition: transform 0.7s ease-in-out;
	}	

.kafelek5:hover
	{
	cursor: default;
	-webkit-transform: translate(-250px, 105px) scale(2.05, 1.7);
	-ms-transform: translate(-250px, 81px) scale(2.05, 1.7);
	-o-transform: translate(-250px, 81px) scale(2.05, 1.7);
	}

@keyframes serduszko
	{
	0%{transform: scale(1)}
	15%{transform: scale(1.05)}
	30%{transform: scale(1)}
	45%{transform: scale(1.05)}
	60%{transform: scale(1)}
	}	
	
.oferta
	{
	margin: -20px;
	width: 480px;
	height: 304px;
	background-size: 100% 100%;
	}

.nowa1 
	{
  	background-image: url(../image/AnalizaKagi2.png);
	}

.nowa2 
	{
  	background-image: url(../image/MaklerInfo2.png);
	}

.nowa3 
	{
  	background-image: url(../image/Angielski2.png);
	}

.nowa4 
	{
  	background-image: url(../image/IKE2.png);
	}

.yt
	{
	margin:10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
	}

.yt:hover
	{
	background-color: #c83237;
	}	
	
.fb
	{
	margin:10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
	}

.fb:hover
	{
	background-color: #3557a2;
	}	
	
.gplus
	{
	margin:10px;
	width: 105px;
	height: 142px;
	background-color: #d95333;
	float: left;
	}

.gplus:hover
	{
	background-color: #c84222;
	}	
	
.tw
	{
	margin:10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	}

.tw:hover
	{
	background-color: #2084c2;
	}

.modyfikacja
	{
	font-size: 12px;
	float: right;
	color: #d94348;
	width: 196px;
	text-align: right;
	}

